= content_for :footer do
  %p{:style => "text-align: center;"}
    - footer_quote = (!(yield :footer_quote).empty?) ? yield(:footer_quote) : "When people see birds flying overhead, they feel the urge to go on a journey."
    = footer_quote
    %br
    = link_to "Back to Articles", "/articles"
    |
    = link_to "Back to Home", :root