/ %h1 Projects#index
/ %p Find me in app/views/projects/index.html.haml

= render "layoutRenderer"

%h1 Articles

= render "error"

%h2.title Pendragon
%h3.subtitle A Tabletop Game System for Fast, Cinematic Roleplay
%p
  Pendragon is a game system for tabletop, pen-and-paper roleplaying. It is
  designed to be simple, fast, and fun, a game you can pick up in an afternoon
  and finish in an evening.
%p.apple= link_to "Read More", "/pendragon"