/****************************************************************************
 *  public/stylesheets/sass/layout.scss
 ***************************************************************************/

/* DEFINE VARIABLES */
$margin: 20px;
$total_width: 940px;
  /*  940 pixels allows for a wide variety of grid/column combinations, using
   *  a 20 pixel grid size (the minus one accounts for an "extra" margin,
   *  since in most layouts there will be one fewer space between sections
   *  than there are sections).
   *  
   *  940 = 20 * (48 - 1):
   *    2 columns @ 460px
   *    2 columns @ 580px, 340px (golden ratio, 96.9% accurate)
   *    2 columns @ 660px, 260px (golden ratio squared)
   *    3 columns @ 300px
   *    4 columns @ 220px
   */
   
$banner_height: 80px;

$top_nav_height: 30px;
$top_nav_item_count: 5;

$content_width: 660px;
$content_min_height: 480px;

$sidebar_width: 260px;

html {
  overflow-y: scroll;
} // html

body {
  position: relative;
  width: $total_width;
  margin: 0 auto;
  padding: 0;
} // body

div#banner {
  width: $total_width;
  height: $banner_height;
  margin-top: $margin;
  
  h1 {
    margin: 0;
    
    font-size: $banner_height * 0.8;
    line-height: $banner_height;
    text-align: center;
  } // div#banner h1
} // div#banner

div#top_navigation {
  width: $total_width;
  height: $top_nav_height;
  
  h2.navigation_item {
    width: ($total_width - $margin * ($top_nav_item_count - 1)) / $top_nav_item_count;
    height: $top_nav_height;
    margin: 0 0 0 $margin;
    
    float: left;
    text-align: center;
    
    &:first-child {
      margin-left: 0;
    } // div#top_navigation h2.navigation_item:first-child
  } // div#top_navigation h2.navigation_item
} // div#top_navigation

div#content {
  width: $content_width;
  min-height: $content_min_height;
  margin-top: $margin;
  float: left;
} // div#content

div#sidebar {
  width: $sidebar_width;
  margin-top: $margin;
  margin-left: $margin;
  float: left;
  
  h2:first-child {
    padding-top: 10px;
    margin-bottom: 10px;
  } // div#sidebar h2:first-child
} // div#sidebar

div.notices {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  margin-bottom: 20px;
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  } // div.notices ul
} // div.notices

table {
  margin: 0 0 20px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
} // table

table, td, th {
  border: solid;
  border-width: 1px;  
} // table, tr, th

br.clear {
  clear: both;
} // br.clear