/****************************************************************************
 * public/stylesheets/sass/text.css
 ***************************************************************************/

@import "layout";

body {
  font-size: 100%;
} // body

h1 {
  margin: 0;
  
  font-size: 32px;
  line-height: 40px;
} // h1

h2 {
  margin: 0 0 10px;
  
  font-size: 20px;
  line-height: 30px;
} // h2

h3 {
  margin: 0 0 10px;
  
  font-size: 17px;
  line-height: 20px;
} // h3

p {
  margin: 0 0 20px;
  
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
} // p

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  } // a:hover
} // a