/****************************************************************************
 * public/stylesheets/sass/text.scss
 ***************************************************************************/

@import "layout";

@mixin heading-font {
  font-family: "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Hoefler Text", "Baskerville", serif;
}

@mixin body-font {
  font-family: "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Hoefler Text", "Baskerville", serif;
}

body {
  font-size: 100%;
  
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  
  #sidebar {
    text-align: left;
  } // body *#sidebar
} // body

.strong {
  font-weight: bold !important;
} // *.strong

.emphasis {
  font-style: italic !important;
} // *.emphasis

.plain {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
} // *.plain

.no_margin {
  margin-bottom: 0;
} // *.no_margin

/* HEADINGS */

$heading1_size: 32px;
$heading1_height: 40px;
$heading1_margin: 0 0 20px;

$heading2_size: 20px;
$heading2_height: 30px;
$heading2_margin: 0 0 10px;

$heading3_size: 17px;
$heading3_height: 20px;
$heading3_margin: 0 0 10px;

$heading4_size: 15px;
$heading4_height: 20px;
$heading4_margin: 0;

h1, h2, h3, h4 {
  @include heading-font;
  
  &.title {
    margin-bottom: 0;
  } // [h1, h2, h3, h4].title
  
  &.subtitle {
    font-style: italic;
    font-weight: normal;
  } // [h1, h2, h3, h4].subtitle
  
  &.inline {
    display: inline-block;
    margin: 0;
  } // [h1, h2, h3, h4].inline
} // h1, h2, h3, h4

h1 {
  margin: $heading1_margin;
  
  font-size:   $heading1_size;
  line-height: $heading1_size;
} // h1

h2 {
  margin: $heading2_margin;
  
  font-size: $heading2_size;
  line-height: $heading2_height;
} // h2

h3 {
  margin: $heading3_margin;
  
  font-size: $heading3_size;
  line-height: $heading3_height;
} // h3

h4 {
  margin: $heading4_margin;
  
  font-size: $heading4_size;
  line-height: $heading4_height;
} // h4

/* PARAGRAPHS */

p {
  @include body-font;
  margin: 0 0 20px;
} // p

/* ANCHORS */

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  } // a:hover
} // a

/* LISTS */

ul {
  @include body-font;
  
  margin: 0 0 20px;
  padding: 0;
  
  li {
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    
    &.apple, &.leaf {
      list-style-type: none;
      margin-left: 0px;
    } // ul li.[apple, leaf]
  } // ul li
} // ul

ul#side_navigation {
  li {
    font-size: 17px;
    margin-left: 0;
  } // ul#side_navigation li
} // ul#side_navigation

/* TABLES */

table {
  @include body-font;
  
  font-size: 15px;
  line-height: 18px;
  
  th, td {
    text-align: center;
    padding: 3px;
    
    &.left {
      text-align: left;
    } // end table [th, td].left
  } // table [th, td]
} // end table