-# app/views/articles/pendragon/quick-reference/index.html.haml

= render "layoutRenderer"

%h1 Quick Reference
%p
  These &ldquo;cheat sheets&rdquo; offer a quick reference to the rules of the
  Pendragon game system. For more information, view the full article for that
  topic (linked on each reference sheet for your convenience).
