/****************************************************************************
 * public/stylesheets/sass/text.css
 ***************************************************************************/
div.key_facts {
  margin: 30px 0px 20px 20px;
  float: right; }
  div.key_facts p {
    margin-bottom: 0; }
