-# app/views/articles/pendragon/characters/halla-ironskein.html.haml

= content_for :css do
  :css
    .indent {
      padding-left: 25px;
    }
    
    .small-caps {
      font-variant: small-caps;
    }

= render "layoutRenderer"

%h1{:style => "margin-bottom: 0;"} Halla Ironskein
.block.stat-block
  %p
    Female Dwarf Fighter
  %p
    %strong Hit Points:
    5
  %p
    %strong Tokens:
    4 Shield tokens
  %p
    %strong Skills:
    .indent
      Long-handle Axe:
      <span class="small-caps">attack</span> +6,
      <span class="small-caps">damage</span> 1 slashing
      %br
      Crossbow:
      <span class="small-caps">attack</span> +5,
      <span class="small-caps">damage</span> 1 piercing,
      <span class="small-caps">range</span> Close
  %p
    %strong Stats:
    .indent
      Defense 12/+5,
      %br
      Athletics 6/-1,
      %br
      Perception 7/+0
  %p
    %strong Attributes:
    Body +5, Mind +3, Spirit +4
  %p
    %strong Skills:
    Guardian, Guard Ally, Athletics +1, Axe Mastery +1, Shield Mastery +1
  %p
    %strong Items:
    Long-handle Axe, Iron Shield, Breastplate, Crossbow
  %p
    %strong Consumables:
    20 Crossbow Bolts,
    3 Potions of Minor Healing
    (<span class="small-caps">effect</span> heals 1 damage)

%h2 Halla's Skills

.skill{:style => "margin-bottom: 20px;"}
  %h3.inline.name Guardian
  .block.stat-block
    %p Skill [Token Pool]
  .description
    %p
      You gain a Shield token pool. At the beginning of an encounter, your
      Shield token pool is empty. You gain 1 Shield token each time a melee
      attack against you fails while you are wielding a shield.

.skill{:style => "margin-bottom: 20px;"}
  %h3.inline.name Guard Ally
  .block.stat-block
    %p Shield Technique
    %p
      %strong Action:
      Instant
    %p
      %strong Trigger:
      An adjacent ally is attacked in melee
    %p
      %strong Cost:
      2 Shield tokens
    %p
      %strong Range:
      Adjacent
  .description
    %p
      When an adjacent ally is attacked using a melee weapon, you may choose to
      intercept the attack. The attack is resolved as if you are the target,
      using your Defense stat. Any damage or other effects from the attack are
      inflicted upon you on a successful attack, rather than the original
      target. You must declare you are using this technique before the incoming
      attack is resolved.
    %p
      You may choose to spend additional Shield tokens when using this
      technique. Each additional shield token grants you a +1 bonus to Defense
      against the intercepted attack.