-# app/views/articles/pendragon/characters/tokens.html.haml

= render "layoutRenderer"

%h1 Stats and Tokens
%p.apple
  = link_to "Continue to Creating A Character", "/articles/pendragon/characters/creating-characters"