-# app/views/articles/pendragon/citadel/notes.html.haml

%h1 Sunless Citadel Notes

%h2 Variable Encounters
%p
  The contents of encounters can be reconfigured based on which pregen
  characters are selected. For example, if the paladin is chosen, sub out a
  spellcaster tough for a diabolist and an imp.

%h2 Bonus Consumables
%h3 Goblin Healing Salve
%p
  Single-Use. Recover 1 extra hit point when taking a light rest.
%p
  Cannot be sold, but can be used as a quest item - trade to the village
  herbalist for an extra consumable slot per character? (Side-Quest)