-# app/views/pendragon/_list.html.haml

- content_for :javascript do
  :javascript
    function toggleSkill(name) {
      var skill = jQuery('#skill-' + name);
      if(skill.find('.stat-block').css('display') == 'none') {
        // the skill is hidden
        showSkill(name);
      } else {
        // the skill is shown
        hideSkill(name);
      } // end if-else
    } // end function toggleSkill
    
    function showSkill(name) {
      console.log('showing skill ' + name);
      var skill = jQuery('#skill-' + name);
      skill.find('.stat-block, .description').show();
      skill.find('.toggle-link').html('Hide Skill');
    } // end function showSkill
    
    function hideSkill(name) {
      console.log('hiding skill ' + name);
      var skill = jQuery('#skill-' + name);
      skill.find('.stat-block, .description').hide();
      skill.find('.toggle-link').html('Show Skill');
    } // end function hideSkill
    
    jQuery(document).ready(function(){
      var skills = jQuery('.skill');
      skills.each(function(){
        var skill = jQuery(this);
        console.log(skill);
        var name = skill.attr('id');
        name = name.substring(6, name.length);
        
        skill.find('.toggle-link').click(function(){
          toggleSkill(name);
        }); // end click
      }); // end each
      
      jQuery('.show-all-skills').click(function(){
        skills.each(function(){
          var skill = jQuery(this);
          var name = skill.attr('id');
          name = name.substring(6, name.length);
          
          showSkill(name);
        }); // end each
      }); // end click
      
      jQuery('.hide-all-skills').click(function(){
        skills.each(function(){
          var skill = jQuery(this);
          var name = skill.attr('id');
          name = name.substring(6, name.length);
          
          hideSkill(name);
        }); // end each
      }); // end click
    }); // end document.ready

%p
  = "<a class='show-all-skills' class='toggle-link'>Show All Skills</a>".html_safe
  |
  = "<a class='hide-all-skills' class='toggle-link'>Hide All Skills</a>".html_safe

- skills.each do |skill|
  = render "pendragon_skill/render", :skill => skill