= content_for :footer do
  %p{:style => "text-align: center;"} A Million Miles is the Difference Between a Failure and a New Chance
  
= content_for :sidebar do
  %h2 Site Navigation
  %ul#side_navigation
    = navigation :tag => :li, :tag_class => :apple