= render "layoutRenderer"

%h1 The Basics

= render "error"

%h2 Checks
%p
  The basic task-resolution mechanism in Pendragon is the check. To resolve a
  check, simply roll two six-sided dice, add the creature's applicable
  attribute score (see below), and add any bonuses from relevant skills.
%p.apple= link_to "Read More", "/pendragon/running#check"

%h2 Attributes
%p
  Each character or creature has three attributes &mdash; Mind, Body, and
  Spirit &mdash; each with a numeric score (typically in the range of 1 to 6).
  Taken together, these attribute scores representing its base level of
  ability, and are used to determine the creature's bonus when making checks,
  as well as the size of its token pools (see Tokens, below).
%p.apple= link_to "Read More", "/pendragon/attributes"

%h2 Skills

%h2 Tokens