= render "layoutRenderer"
- @index_page = true

= content_for :css do
  :css
    .breadcrumb_index { display: none; }

%h1.title Pendragon
%h2.subtitle A Tabletop Game System for Fast, Cinematic Roleplay
%p
  Pendragon is a game system for tabletop, pen-and-paper roleplaying. It is
  designed to be simple, fast, and fun, a game you can pick up in an afternoon
  and finish in an evening.

%h2 The Pitch
%p
  Pendragon uses just three basic mechanics to define a creature or character:
  attributes, skills, and tokens. To determine the success or failure of an
  action, a player just makes a simple check - two six-sided dice and one stat,
  plus a miscellaneous bonus or two. No more lists of spells, tables of hit
  locations, or grapple rules requiring flowcharts and an Ouija board.
%p
  At the same time, the flexibility of the system allows for rich customization
  of creatures, characters and encounters. No more generic magic missile spells
  &mdash; spend the experience you earn to make your abilities your own. Build
  your own signature attacks and ability combos.

%p.apple= link_to "Continue to Character Basics", "/articles/pendragon/characters"