= render "layoutRenderer"

%h1 Pendragon Notes
%p
  The following notes have yet to be categorized. Often, the correct pages or
  sections do not yet exist. As with the rest of the system notes, these are
  subject to change. Caveat lector.
  
%h1 Creature Designs
%p
  Each starting adventurer gets starting skills equal to Spirit score, as well
  as 6 minor items/consumables. Plus one freebie for a token pool.

%p.apple
  = "#{link_to "Halla Ironskein", "/articles/pendragon/characters/halla-ironskein"},".html_safe
  Female Dwarf Fighter

%h1 Grand Unified Theory
%p
  :redcarpet
    **Skills** and **Techniques**
    
    Both cost **skill points**. Techniques grant a new ability. Skills grant a
    passive/conditional/numeric bonus or improve a technique.
    
    **Skills**
    
    * Acrobatics +1
    * Athletics +1
    * Burglary +1
    * [Element] Magic +1
      * Air, Earth, Fire, Metal, Water, Wood
      * Ether, Void
      * Light, Shadow
      * Life, Death
    * Lore +1
    * Social +1
    * [Weapon] Mastery +1
    
    **Tokens**
    
    Few types of default tokens.
    
    * *Adrenaline:* Used to power strength-based abilities, e.g. heavy weapons,
      Athletics, etc. Charged by hitting enemy (optional: hit by attacks?).
    * *Aim:* Used to power ranged attacks. Charged by hitting enemy.
    * *Charm:* Used to power social/bardic abilities?
    * *Mana:* Used to cast spells/use magical abilities. Recharged by rest.
    * *Swashbuckling:* Used to power dexterity-based abilities, e.g. light
      melee weapons, Acrobatics. Charged by hitting enemy (optional: dodge
      attacks?).

%h1 Other Notes
%p
  Combat system based around encounter/daily duality; many resources have an
  encounter version and a daily version. Examples:
%table
  %tbody
    %tr
      %th Encounter
      %th Daily
    %tr
      %td Damage tokens
      %td Wound tokens
    %tr
      %td Mana tokens
      %td Reserve tokens
      
%p
  Some effects are daily/longer, e.g. consumables, character death (without a
  res spell handy). Call it &ldquo;expedition&rdquo; length?

%h2 Equipment, Items, Consumables, and Wealth
%p
  Equipment isn't tracked with gold pieces, but with Items, Consumable slots,
  and Wealth.

%h3 Items
%p
  An Item slot is equivalent to a Skill point. The most basic item, then,
  grants a specific skill or an equivalent bonus. For skills that cost more
  than one skill point, the item costs an equivalent number of item slots.

%h4 Minor Items
%p
  Non-magical basic equipment, such as basic weapons and armour and
  adventuring gear qualify as minor items; they cost a Consumable slot (see
  below) instead of a full Item slot.
  
%h3 Consumables
%p
  A Consumable slot represents a single or a set of single-use item(s), such as
  a healing potion, a brace of arrows, or magic scroll. Consumable slots can be
  exchanged for Item slots at a 3 to 1 ratio (so, in town a character could
  trade a magic sword for three flasks of alchemists's fire).
%p
  Consumable slots are not lost when the consumable is used, but are
  replenished when the characters return to town (as appropriate; finding more
  magical scrolls in a tiny hamlet may not be possible). Alternatively,
  characters with crafting skills and the appropriate raw materials can craft
  their own consumables to fill their empty Consumable slots.
  
%h3 Wealth
%p
  Wealth represents liquid assets or investments. An adventuring group that
  comes back to town with a wheelbarrow full of silver coins will gain several
  Wealth slots. Wealth can be exchanged for Items one to one (or equivalently
  consumables 3 to 1). Finally, Wealth can be used for training (at the
  Narrator's discretion), exchanging Wealth for skill points to purchase a new
  skill or technique.
  
%p
  Additionally, a character's Wealth indicates standard of living, so a
  character with no Wealth might camp outside instead of stay in an inn,
  whereas a character with lots of Wealth might be able to afford the inn suite
  and room service. Wealth "used" in this manner is not lost. Wealth can also
  be exchanged for property, or other goods with a significant in-game value,
  at the discretion of the Narrator.

%h2 Token Pools
%p
  Token pools come in two varieties. Some token pools start empty, and are
  filled over the course of an encounter when a criterion is met (the creature
  blocks an attack, the creature hits with a melee attack, etc).
  %strong Examples:
  Adrenaline/Rage tokens, Shield tokens.
%p
  Other token pools start full but are slowly depleted over the course of an
  encounter.
  %strong Examples:
  Mana tokens.
%p Balancing these two may be challenging.

%h2 Mooks, Toughs, and Bosses
%p
  %strong Mooks
  are &ldquo;trash mobs&rdquo;, encountered in large numbers, in softball
  encounters, or escorting more powerful monsters. When a Mook's total damage
  plus Wounds exceeds its hit point total, it immediately falls unconscious.
  Mooks often have skills that rely on or benefit from having many allies.
%p
  %strong Toughs
  are stronger creatures encountered in small numbers, or alone and
  encountered by a gaggle of mooks. A full group of toughs can be a serious
  challenge for an unprepared group. Toughs use the standard rules for damage
  and wounds, and can use Encounter techniques. They often carry consumables.
%p
  %strong Bosses
  are very strong creatures that are (hopefully) encountered alone or
  accompanied by small numbers of mooks or toughs. A climactic encounter could
  include a boss, one or two toughs, and a gaggle of mooks. Bosses have double
  the hit points of a normal creature of their type, and use the standard rules
  for damage and wounds. They can also use Encounter techniques and
  consumables. Bosses often have powerful abilities that target multiple
  enemies at once.
  
%h2 Size Categories
%p
  Each size above Medium grants +1 to Attack, +1 hit point, and +1 Athletics,
  but -1 Defense and -1 Acrobatics.
%p
  Each size below Medium grants +1 to Defense and +1 to Defense, but -1 to
  Attack, -1 hit point, and -1 Athletics.

%h2 Resting

%h3 Light Rest
%p
  Lasts 10 minutes. Creatures lose damage tokens equal to Body score, restore
  mana tokens, etc. Can attempt heal check to lose additional damage tokens.
  Cannot be chained together - must upgrade to hour's rest instead.

%h3 Hour Rest
%p
  Lasts 1 hour. As light rest, but creatures lose all damage tokens. Spell
  casters with Readied Spells can change their spells readied.

%h3 Daily Rest
%p
  Lasts 8 hours. As hour rest, but creatures recover 1 wound token. Spell
  casters with Prepared Spells can prepare new spells. Characters with
  crafting skills may craft a consumable item if they (or the recipient) have a
  consumable slot open.

%h2 Weapon Chain Techniques
%p
  A weapon chain technique requires multiple attack rolls, each of which has
  a defined effect (and cost). E.g. dagger attack -> hamstring (cripple) ->
  disembowel (inflicts 1 wound). Total effect is greater than a normal technique,
  but requires multiple rolls to succeed.
%p
  Mix and match technique chain bits?

%h2 Special Movement Skills
%p
  Basic movement skill, allows one standard move distance (~10m, 30ft) as an
  action, for a token. The move replaces the move action for that turn (e.g.
  cast a flight spell, then fly). Augments: cast as minor action, increase
  duration, constant effect, faster move (x2, x3, ...).
%p.no_margin
  Sample types of movement (and distance moved at initial cost):
%ul
  %li Flight: 10m
  %li Swimming: 10m
  %li Up The Walls: 10m
  %li Speed Burst (run faster): 20m
  %li Teleport: 3m



%h2 Spells and "Levels"
%p
  To cast a spell (use an ability), the user must have a skill level of (mana
  cost - 1). So, to cast a spell with a mana cost of two, the user must have
  taken at least the [Element] Magic +1 skill.
%p
  The user can take (once) the Signature Spell skill, which lets the creature
  treat one skill as having a mana cost 1 point lower (min 1 point => reserve).
%p
  Improving spells (e.g. more damage, check bonus, etc) increases the mana
  cost.

%h2 Skills and Restrictions
%p
  Restrictions are, in a sense, "anti-Skills". Instead of granting the creature
  new abilities or bonuses they instead apply limitations or penalties.
  Conversely, instead of costing skill points restrictions grant either
  additional skill points to spend or directly grant the use of new skills in
  exchange. They provide an additional option for the customization of
  creatures and characters in the Pendragon system.

%h2 Skills, Spells, and Magical Traditions
%p
  Although the Pendragon system is simple, that simplicity is matched with a
  powerful flexibility, particularly in regard to the semiotics of skills and
  abilities.
%p
  Consider spells. By default, the assumption for a spell is that it represents
  some innate or otherwise immediately available quantity, akin to the
  classical sorcerer, wielding a limited repertoire of spells but with great
  flexibility as to their use. A creature that directly learns a spell using
  a skill point can be said to add that spell to its "spells known".
%p
  One alternate means of spell acquisition is gaining an Item that grants the
  use of that spell, or a Consumable that offers a single use thereof. However,
  what about the classic wizard, who carries around a spellbook full of arcane
  rituals and eldritch incantations?

%h3 Preparing Spells
%p
  For a Vancian wizard, who casts memorized spells once and must prepare them
  anew each day, take the Spell Preparation skill one or more times. Each time
  that skill is taken, the creature gains three prepared spell slots, which he,
  she, or it can fill with any spells for which he, she, or it has access (see
  Spell Books and Spell Access, below). The wizard may cast any of its prepared
  spells as if it were a spell known, expending the activation time, mana cost,
  and/or other costs as normal. However, once cast, the prepared spell is lost,
  and must be prepared anew when the wizard has sufficient time and focus.

%h3 Readying Spells
%p
  As a more flexible alternative to the old Vancian system, a magister can take
  the Spell Readying skill one or more times. Each time that skill is taken,
  the creature gains one readied spell slot. Unlike a prepared spell slot, the
  readied spell is not lost when the spell is cast.
  
%h3 Time, Rest, and Preparing/Readying Spells
%p
  A creature with Readied or Prepared spells may renew his, her, or its
  selection of chosen spells as part of a major rest. This counts as a major
  restriction; rather than granting an additional skill point, however, the
  creature gains one additional readied spell slot or two additional prepared
  spell slots as if it had selected the Readied Spell or Prepared Spell skills.

%h3 Spell Books and Spell Access
%p
  A creature requiring written spell notes, e.g. with the Readied Spell or
  Prepared Spell skills, may treat this as a major restriction; rather than
  granting an additional skill point, however, the creature gains three
  additional Consumable slots, as if the creature had chosen the Resources
  skill. These Consumable slots must be used to select spells (see below).
%p
  Each spell for use with the Readied Spell or Prepared Skill skills requires
  the creature to spend one Consumable slot, so a wizard with a spell book
  containing six spells would have spent six Consumable slots (or,
  equivalently, two Items). Spells provided as part of trade or treasure are
  likewise valued as equivalent to Consumables.
%p
  At the Narrator's discretion, spellcasters may treat spell book pages as
  scrolls (allowing the caster to cast an unprepared or unreadied spell at
  the cost of the page) and/or vice versa (preparing spells from a scroll).
  Pages consumed in this fashion would return one consumable slot to the
  spellcaster, although this is not recommended as replacing the page (even
  with the Arcane Calligrapher skill) would be difficult without the original
  spell (that was just lost).
  

%h2 Somatic and Verbal Components
%p
  By default, using a spell requires the user/creature to make a ritual gesture
  and speak a brief incantation. The spellcaster may choose to skip one or both
  of these components, but at a cost of a -1 penalty to the Check to cast the
  spell, or a -2 penalty for skipping both components.
%p
  If the creature is not able to use a component, such as a Silenced creature
  unable to speak or a Paralyzed or Frozen creature unable to move, the penalty
  to cast is doubled to -2 per component.
%p
  The Silenced Spellcaster and Stilled Spellcaster skills allow a creature to
  reduce the penalty for casting a spell without verbal and somatic components,
  respectively. Each reduces the respective penalty by -1, effectively removing
  the penalty for voluntarily skipping the component and halving the penalty if
  unable to use the component.
