-# app/views/articles/pendragon/todo.html.haml

= render "layoutRenderer"

%h1.title To Do
%h2.subtitle General
%ul
  %li.apple
    Everything in the
    = link_to "Extra Notes", "app/views/articles/pendragon/extra"
    page.
  %li.apple
    Equipment
    %ul.no_margin
      %li.leaf Weapons and Armour
      %li.leaf Items and Consumables
      
%h3.subtitle Running the Game
%ul
  %li.apple
    Define Checks
    %ul
      %li.leaf Opposed Checks

%h2.subtitle The Sunless Citadel
%ul
  %li.apple Characters
  %li.apple Monsters
  %li.apple Rewards
