-# app/views/articles/pendragon/citadel/notes.html.haml

%h1 Sunless Citadel Notes

%h2 Variable Encounters
%p
  The contents of encounters can be reconfigured based on which pregen
  characters are selected. For example, if the paladin is chosen, sub out a
  spellcaster tough for a diabolist and an imp.